    <link rel="stylesheet" href="/stylesheets/navbar.css">
</head>
    
<body>

	<div id="navbar">
        <img src="/images/logo.png" id="logo" alt="LOGO">
        <span>Online Banking</span>
        <div id="list">
            <a href="/">HOME</a></li>
            <a href="/signup">SIGNUP</a>
            <a href="/login">LOGIN</a>
            <a href="/about">ABOUT</a>
        </div>
    </div>