    <link rel="stylesheet" href="/stylesheets/navbar.css">
</head>
    
<body>

	<div id="navbar">
        <img src="/images/logo.png" id="logo" alt="LOGO">
        <span>Online Banking</span>
        <div id="list">
            <a id="l1" href="/">HOME</a></li>
            <a id="l2" href="/signup">SIGNUP</a>
            <a id="l3" href="/login">LOGIN</a>
            <a id="l4" href="/about">ABOUT</a>
        </div>
    </div>