<%- include('partials/header') %>

	<title>About</title>

<%- include('partials/body') %>

	<div id="about">
        This is a sample website for managing your account<br><br>
        It allows to create a new account with a amount of 1000 initialized in your account<br><br>
        You need to login in to your account using your email and password provided during account creation<br><br>
        The system allows to change your email, password and details<br><br>
        It also allows to transfer amount and receive amount from your friends account<br><br>
        It also displays all the transactions you have done with your account
    </div>

    <script>
        document.getElementById("l4").style.color = "yellow";
    </script>

<%- include('partials/footer') %>