<%- include('partials/header') %>

	<title>Home</title>

<%- include('partials/body') %>

	<div id="welcome">
		Welcome to Online<br>Banking System
	</div>

	<script>
		document.getElementById("l1").style.color = "yellow";
	</script>

<%- include('partials/footer') %>