<%- include('../partials/header') %>

	<title>Details</title>
	<link rel="stylesheet" href="/stylesheets/form.css">

<%- include('../partials/body') %>
	
	<form style="top:60px" action="/signup/newaccount" method="post" onsubmit='return validation()'>
		<div id="info">Details</div>
		<div>
			<label for="email">Email</label><br>
			<input type="string" id="email" name="email" value='<%- email%>' style="cursor:not-allowed" readonly>
		</div>
		<div>
			<label for="name">Full Name</label><br>
			<input type="string" id="name" name="name" required>
		</div>
		<div>
			<label for="mobile">Mobile</label><br>
			<input type="string" id="mobile" name="mobile" minlength=10 maxlength=10 required>
		</div>
		<div>
			<label for="address" >Address</label><br>
			<input type="string" id="address" name="address" required>
		</div>
		<div>
			<label for="password" >Password</label><br>
			<input type="password" id="password" name="password" minlength=5 required>
		</div>
		<div>
			<label for="cpassword" >Confirm Password</label><br>
			<input type="password" id="cpassword" name="cpassword" required>
		</div>
		<div id="warn">*Passwords do not match</div>
		<div>
			<input type="submit" value="Signup">
		</div>
    </form> 

    <script>

		function validation(){
			const p = document.getElementById("password").value;
			const cp = document.getElementById("cpassword").value;
			if(p==cp)
				return true;
			else
			{	
				document.getElementById("warn").style.display="block";
				setTimeout(()=>{document.getElementById("warn").style.display="none"},3000);
				return false;
			}
		}

	</script>

<%- include('../partials/footer') %>