<%- include('../partials/header') %>

	<title>New Password</title>
	<link rel="stylesheet" href="/stylesheets/form.css">
	
<%- include('../partials/body') %>

	<form style="top:160px" action="/login/forgot_password/update" method="post" onsubmit='return validation()'>
		<div id="info">Update Password</div>
		<div>
			<label for="email">Email</label><br>
			<input type="string" id="email" name="email" value='<%- email%>' style="cursor:not-allowed" readonly>
		</div>
		<div>
			<label for="password" >Password</label><br>
			<input type="password" id="password" name="password" minlength=5 required>
		</div>
		<div>
			<label for="cpassword" >Confirm Password</label><br>
			<input type="password" id="cpassword" name="cpassword" required>
		</div>
		<div id="warn">*Passwords do not match</div>
		<div>
			<input type="submit" id="submit" value="Update">
		</div>
    </form> 

    <script>

		function validation(){
			const p = document.getElementById("password").value;
			const cp = document.getElementById("cpassword").value;
			if(p==cp)
				return true;
			else
			{	
				document.getElementById("warn").style.display="block";
				setTimeout(()=>{document.getElementById("warn").style.display="none"},3000);
				return false;
			}
		}

	</script>

<%- include('../partials/footer') %>